[MASTER]
# Base configuration for all Python files
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no
ignore=migrations,venv,.venv

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=no-member
disable=C0111,R0903,C0103

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[BASIC]
good-names=_,i,j,k,e,f,db,id,pk,setUp,tearDown,maxDiff,Meta
