{% extends "authentication/layouts/auth_base.html" %}

{% load static %}

{% block auth_heading %}
  Authentication
{% endblock auth_heading %}

{% block auth_subheading %}
  Log in to your account
{% endblock auth_subheading %}

{% block auth_content %}

    {% include "authentication/components/messages/form_errors.html" %}

    {% include "authentication/components/forms/login_form.html" %}

    <footer>
      <details>
        <summary>
          Need help?
        </summary>
        <nav>
          <ul>
            <li>
              <a href="{% url 'authentication:password_reset' %}">Forgot your password?</a>
            </li>
            <li>
              <a href="{% url 'authentication:register' %}">Don't have an account? Sign up</a>
            </li>
          </ul>
        </nav>
      </details>
    </footer>
{% endblock auth_content %}
