/* Import Modern Normalize */
@import url('vendor/modern-normalize.min.css');

/* Import PicoCSS */
@import url('vendor/pico-classless.min.css');

/* Import base styles */
@import url('base.css');

/* Import design variables */
@import url('components/design.css');

/* Import theme-specific colors */
@import url('components/colours.css');
@import url('components/theme-light.css');
@import url('components/theme-dark.css');

/* Import component-specific styles */
@import url('components/navigation.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/charts.css');
@import url('components/form.css');
@import url('components/list.css');
@import url('components/filter.css');
@import url('components/pagination.css');
@import url('components/obligations.css');
@import url('components/user-profile.css');
